* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}

#candle-logo {
  width: 5%;
  height: 10%;
  position: absolute;
  margin-left: 7%;
  margin-top: -1.5%;
  transition: transform .2s;
}

#candle-logo:hover {
  transform: scale(1.2);
}

.header-links {
  margin: 2% 0 0 50%;
  cursor: pointer;
  color: #df89b5;
  font-size: 120%;
}

.individual-links {
  margin-right: 5%;
  font-weight: 600;
  
}

.individual-links:hover {
  opacity: 0.7;
}

.individual-links:active {
  opacity: 0.5;
}

.btn-login {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 1.5%;
  width: 25%;
  background-color: #CFA3C8;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 80%;
}

.btn-login:hover {
  opacity: 0.8;
}

.btn-login:active {
  opacity: 0.7;
}

.wrapper {
  background-color: #f5ecec;
  margin: 1% 5% 2% 5%;
  padding-bottom: 2%;
}

.container-left {
  display: inline-block;
  height: 100vh;
  width: 50%;
  padding-left: 10%;
  margin-top: 3%;
}

.container-right {
  display: inline-block;
  height: 100vh;
  width: 50%; 
  position: absolute;
  padding-left: 7%;
  margin-top: 3%;
}

p {
  text-align: justify;
  width: 80%;
  color: #313131;
}

#p-heart {
  color: #CFA3C8;
}

.candles-img {
  width: 50%;
  height: 60%;
  position: relative;
  margin-left: 10%;
}

#form {
  color: #bd7eb2; 
  font-weight: 600;
  background-color: #C2CFF5;
  width: 65%;
  border-radius: 7%;
  padding: 5% 0 5% 17%;
}

#name-input {
  color: #313131;
  height: 5%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btnValidate {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 1.5%;
  width: 25%;
  background-color: #CFA3C8;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 90%;
  position: relative;
  margin-top: 5%;
  margin-left: 20%;
}

#btnValidate:hover {
  opacity: 0.8;
}

#btnValidate:active {
  opacity: 0.7;
}

#cardResult {
  color: #313131;
}

.card {
  width: 65%;
  height: 35%;
  text-align: center;
  border-radius: 20px;
  border: none;
  margin-top: 6%;
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa, 1px 1px 2px #555;
  backdrop-filter: blur(0.8rem);
  padding: 1.5rem;
  border-radius: 1rem;
  position: relative;
}

.card-clone {
  background: transparent;
  border: none;
  color: #313131;;
  font-size: 100%;
}

.card-clone::-webkit-input-placeholder {
  color: #313131;;
}

#card-number {
  margin: 5% 40% 0 0;
}

.test {
  margin: 3% 40% 0 0;
}


#card-name {
  margin: 3% 40% 0 0;
}

.chip {
  display: flex;
  margin-left: 80%;
}

#card-chip img {
  width: 3rem;
}

.footer-lab {
  text-align: center;
  padding-bottom: 1%;
  color: #FFFFFF;
}

#footer-heart {
  color: #C2CFF5;
}

@media screen and (min-width: 1800px) {
  
  body {
    padding-bottom: 1%;
  }

  #candle-logo {
    width: 5%;
    height: 10%;
    position: absolute;
    margin-left: 7%;
    margin-top: -1.6%;
    transition: transform .2s;
  }

  #candle-logo:hover {
    transform: scale(1.1);
  }

  #form {
    font-size: 130%;
    height: 40%;
    width: 65%;
    border-radius: 7%;
    padding: 6% 15% 6% 15%;
  }

  input[type="text"] {
    width: 90%;
    height: 12%;
    font-size: 80%;
  }

  input[type="number"] {
    width: 90%;
    height: 12%;
    font-size: 80%;
  }

  p {
    font-size: 120%;
  }

  #btnValidate {
  padding: 1%;
  width: 30%;
  height: 5%;
  font-size: 120%;
  margin-top: 7%;
  }

  #cardResult {
  width: 80%;
  }

  .card {
  font-size: 120%;
  letter-spacing: 5%;
  line-height: 5%;
  padding-left: 8%;
  padding-right: 10%;
  }

  #card-number {
  margin: 6% 35% 0 0%;
  width: 87%;
  }

  #card-name {
  width: 86%;
  }

  .chip {
  margin-left: 90%;
  margin-top: 2%;
  }

  #card-chip img {
  width: 170%;
  }
}

@media screen and (max-width: 420px) {

  .wrapper {
    margin-top: 2%;
  }

  #candle-logo {
    width: 7%;
    height: 4%;
    position: absolute;
    margin-left: 7%;
  }

  .header-links {
    width: 80%;
    margin-left: 17%;
    font-size: 80%;
  }

  .btn-logout {
    width: 20%;
    font-size: 80%;
  }

  .container-left {
    display: inline-block;
    width: 100%;
    height: 48%;
    padding: 0;
    margin: 0;
}

.candles-img {
  display: none;
}

  .container-right {
      display: block;
      height: auto;
      width: 100%;
      position: static;
      padding: 40px;
  }

  #form {
    font-size: 100%;
    height: 90%;
    width: 95%;
    border-radius: 7%;
    padding: 6% 15% 6% 17%;
    margin-top: -15%;
  }

  input[type="text"] {
    width: 90%;
    height: 12%;
    font-size: 90%;
  }

  input[type="number"] {
    width: 90%;
    height: 12%;
    font-size: 80%;
  }

  .card {
    height: 90%;
    width: 95%;
    font-size: 100%;
    letter-spacing: 5%;
    line-height: 5%;
    padding-left: 8%;
    padding-right: 10%;
  }

  .chip {
    margin-left: 80%;
    margin-top: 2%;
  }
  
  #card-chip img {
    width: 120%;
  }

  p {
    font-size: 100%;
    line-height: 24px;
    margin-top: 8%;
    margin-left: 8%;
    width: 85%;
}

  #btnValidate {
  padding: 1%;
  width: 45%;
  height: 5%;
  font-size: 120%;
  margin-top: 7%;
  margin-left: 25%;
}

  #cardResult {
  margin-top: -5%;
  margin-bottom: 10%;
  width: 90%;
  font-size: 90%;
  margin-left: 2%;
}

}